*{
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
}

h1{
    font-size: 60px;
    font-weight: bold;
}
h2{
    font-size: 40px;
    font-weight: bold;
}
h3{
    font-size: 34px;
    font-weight: bold;
}

h4{
    font-size: 28px;
    font-weight: bold;
}
h5{
    font-size: 28px;
    font-weight: normal;
}

p{
    font-size: 34px;
    font-weight: normal;
}

html{
    display: flex;
    align-items: stretch;
}


.glass{
    background: rgba(51, 51, 51, 0.2);
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
    backdrop-filter: blur(15px);
     /* Note: backdrop-filter has minimal browser support */
  
    border-radius: 20px;
    gap: 28px;
}

@media (min-width: 1800px) { 

    h1{
        font-size: 70px !important ;
        font-weight: bold;
    }
    h2{
        font-size: 64px !important ;
        font-weight: bold;
    }
    h3{
        font-size: 48px !important ;
        font-weight: bold;
    }

    h4{
        font-size: 32px !important ;
        font-weight: bold;
    }

    p{
        font-size: 48px !important ;
        font-weight: normal;
    }

    #quote{
        font-size: 32px !important ;
    }

    #author{
        font-size: 28px !important;
    }

}

@media (max-width: 1300px) {

    .glass{
        gap:16px;
    }

    h1{
        font-size: 32px!important;
    }
    h2{
        font-size: 28px!important;
    }
    h3{
        font-size: 18px!important;
    }
    p{
        font-size: 18px!important;
    }
  }
