#quotesection{
  display: flex;
  flex-direction: column;
  gap: 8px;
  max-width: 100%;
  flex: 1;
  padding: 18px;
  padding-left: 30px;
  /* width: 850px;
  height: 255px;
  */
}

#quotesection2{
  position: absolute;
  top: 75%;
  left: 49%;
  width: 900px;
  height: 225px;
  padding: 18px;
}


#quote {
    
  max-width: 40%;
    padding-top: 2%;
    text-align: left;
    flex-wrap: wrap;
    font-style: italic;
    
  }

  #author { 
    padding: 0px 0px;
    text-align: left;
    flex-wrap: wrap;
  }


