#quotesection{
    display: flex;
    flex-direction: column;
    gap: 8px;
    max-width: 100%;
    flex: 1;
    padding: 18px;
}

#quote {
    text-align: left;
    flex-wrap: wrap;
    font-style: italic;
    font-size: 38;
  }

  #author {
    text-align: left;
    flex-wrap: wrap;
    font-size: 38;
  }