#quotesection{
  gap: 8px;
  flex: 3;
  padding: 18px;
  padding-left: 30px;
  display: flex;
  align-items: center;
  align-content: center;
  

  /* width: 850px;
  height: 255px;
  */
}

#quotesection2{
padding-left: 30px;
padding: 18px;
flex: 3;
gap: 8px;
display: flex;
align-items: center;

}


#quote {
    
  max-width: 100%;
 
    text-align: left;
    font-style: italic;
    
  }

  #author { 


    padding: 0px 0px;
    text-align: left;
   
  }


