#weather{

flex: 1;
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
padding: 28px;
max-width: 200px ;

background: rgba(51, 51, 51, 0.2);
box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.25);
backdrop-filter: blur(15px);
/* Note: backdrop-filter has minimal browser support */

border-radius: 20px;
}

@media (max-width: 1300px) {
    #weather {
      flex-direction: row; /* Change flex direction for screens less than x wide */
      max-width: 100%;  
      max-height: 200px;
    }
  }

#date{
display: flex;
flex-direction: column;
align-items: center;
text-align: center;
padding: 0px;
gap: 8px;
}

#forcast{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 0px;
}

#forcast img{
    width: 90px;
    height: 90px;
}

#days {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 24px;
}

.day{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 0px;

}

.day h3{
    text-align: center;
}

.day img {
    width: 45px;
    height: 45px;
    align-self: center;
}

.coldFont {
    color: rgba(143, 202, 235, 1);

}
.varmFont {
    color: rgba(235, 143, 143, 1);

}


@keyframes loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .loading-icon {
    border: 5px solid #fff; /* Light grey */
    border-top: 5px solid rgba(143, 202, 235, 1); /* Blue */
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: loading 1s linear infinite;
  }