#firmasection{
  flex: 6;
  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 28px;
  gap: 28px;
  height: 100%;
  /* Inside auto layout */
  
  align-self: stretch;
  overflow: hidden;
  text-overflow: ellipsis;
}